extends ../layout

block content
    h1 Add Courses
    form(action="/product/add",method="post")
        .form-group
            label(for="name") Course Name
            input#name(type="text",class="form-control" name="Name")
            label(for="Price") Course ID
            input#price(type="text",class="form-control" name="Price")
            label(for="Category") Course Duration(Hrs)
            input#price(type="text",class="form-control" name="Category")
            label(for="brand") Course Fee(USD)
            input#price(type="text",class="form-control" name="Brand")
        input(type="submit", value="ADD",class="btn btn-dark")    